<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sebuah Buku Baru Telah Ditambahkan!</h1>
    <p>Judul: <%= @book.book_name %></p>
    <p>Konten: <%= @book.book_content %></p>
  </body>
</html>
